<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Elegento_Newsletter>
            <version>1.0.1</version>
        </Elegento_Newsletter>
    </modules>
    <frontend>
        <layout>
            <updates>
                <egnewsletter>
                    <file>elegento_newsletter.xml</file>
                </egnewsletter>
            </updates>
        </layout>
        <routers>
            <egnewsletter>
                <use>standard</use>
                <args>
                    <module>Elegento_Newsletter</module>
                    <frontName>egnewsletter</frontName>
                </args>
            </egnewsletter>      
        </routers>
    </frontend>
    <global>
        <models>
            <egnewsletter>
                <class>Elegento_Newsletter_Model</class>
            </egnewsletter>
            <newsletter>
                <rewrite>
                    <subscriber>Elegento_Newsletter_Model_Subscriber</subscriber>
                </rewrite>
            </newsletter>
            <newsletter_resource>
                <rewrite>
                    <subscriber_collection>Elegento_Newsletter_Model_Mysql4_Subscriber_Collection</subscriber_collection>
                </rewrite>
            </newsletter_resource>
        </models>
        <events>
            <newsletter_subscriber_save_before>
                <observers>
                    <newsletterSubscriberChange>
                        <class>Elegento_Newsletter_Model_Observer</class>
                        <method>newsletterSubscriberChange</method>
                    </newsletterSubscriberChange>
                </observers>
            </newsletter_subscriber_save_before>
        </events>
        <blocks>
            <!-- <newsletter>
                <class>Elegento_Newsletter_Block</class>
            </newsletter> -->
            <egnewsletter>
                <class>Elegento_Newsletter_Block</class>
            </egnewsletter>
            <adminhtml>
                <rewrite>
                    <newsletter_subscriber_grid>Elegento_Newsletter_Block_Adminhtml_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <egnewsletter>
                <class>Elegento_Newsletter_Helper</class>
            </egnewsletter>
        </helpers>
        <resources>
            <egnewsletter_setup>
                <setup>
                    <module>Elegento_Newsletter</module>
                    <class>Elegento_Newsletter_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </egnewsletter_setup>
            <egnewsletter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </egnewsletter_write>
            <egnewsletter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </egnewsletter_read>
        </resources>
    </global>
    
    <default>
        <egnewsletter>
            <general>
                <egnl_description>Sign up to get exclusive offers from
our favorite brands and to be well up in the news.</egnl_description>
                <egnl_bg_image_show>p</egnl_bg_image_show>
                <egnl_bg_image></egnl_bg_image>
            </general>
            <fields>
                <show_gender>0</show_gender>
                <show_prefix>0</show_prefix>
                <show_firstname>0</show_firstname>
                <show_lastname>0</show_lastname>
                <show_suffix>0</show_suffix>
                <show_dob>0</show_dob>
                <customer_override>1</customer_override>
                <customer_fallback>1</customer_fallback>
            </fields>
            <popup>
                <enabled>1</enabled>
                <pop_expire>1</pop_expire>
                <fadeout_duration>500</fadeout_duration>
                <pop_width>750</pop_width>
                <!-- <pop_height>350</pop_height> -->
                <visibility>0</visibility>
                <show_already_subscribed>0</show_already_subscribed>
            </popup>
        </egnewsletter>
    </default>
</config>
