<?xml version="1.0"?>
<config>
	<sections>
        <chestnut_layerednav translate="label">
			<tab>chestnut</tab>
            <label>Ajax Layered Navigation</label>
            <frontend_type>text</frontend_type>
            <sort_order>120</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="chestnut_layerednav">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>800</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>                        
                        <show_categories translate="label">
                            <label>Enable Category Filter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_categories>
                    </fields>
                </general>
            </groups>
        </chestnut_layerednav>
  	</sections>
</config>