<?xml version="1.0"?>
<config>
    <modules>
        <Chestnut_Products>
            <version>1.0.1</version>
        </Chestnut_Products>
    </modules>
    <global>
        <models>
            <chestnut_products>
                <class>Chestnut_Products_Model</class>
            </chestnut_products>
        </models>
        <resources>
            <chestnut_products_setup>
                <setup>
                    <module>Chestnut_Products</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </chestnut_products_setup>
            <chestnut_products_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </chestnut_products_write>
            <chestnut_products_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </chestnut_products_read>
        </resources>
        <blocks>
            <chestnut_products>
                <class>Chestnut_Products_Block</class>
            </chestnut_products>
        </blocks>
        <helpers>
            <chestnut_products>
                <class>Chestnut_Products_Helper</class>
            </chestnut_products>
        </helpers>
    </global>
    <default>
        <chestnut_products>
            <new_arrival>
                <enable>1</enable>
                <products_per_page>8</products_per_page>
                <title>NEW ARRIVALS</title>
            </new_arrival>
            <featured>
                <enable>1</enable>
                <products_per_page>8</products_per_page>
                <title>FEATURED</title>
            </featured>
            <special>
                <enable>1</enable>
                <products_per_page>8</products_per_page>
                <title>SPECIAL</title>
            </special>
            <bestsellers>
                <enable>1</enable>
                <products_per_page>8</products_per_page>
                <title>BEST SELLERS</title>
            </bestsellers>
            <most_viewed>
                <enable>0</enable>
                <enable_slider>1</enable_slider>
                <products_per_page>8</products_per_page>
                <title>MOST FAVORITE</title>
            </most_viewed>
        </chestnut_products>
    </default>
</config>