<?xml version="1.0"?>
<config>
    <modules>
        <Chestnut_Slideshow>
            <version>1.0.1</version>
        </Chestnut_Slideshow>
    </modules>
    <frontend>
        <routers>
            <slideshow>
                <use>standard</use>
                <args>
                    <module>Chestnut_Slideshow</module>
                    <frontName>slideshow</frontName>
                </args>
            </slideshow>
        </routers>
        <layout>
            <updates>
                <slideshow>
                    <file>chestnut_slideshow.xml</file>
                </slideshow>
            </updates>
        </layout>
    </frontend>
	<adminhtml>
		<layout>
			<updates>
				<slideshow>
					<file>chestnut_slideshow.xml</file>
				</slideshow>
			</updates>
		</layout>
	</adminhtml>
    <global>
        <models>
            <slideshow>
                <class>Chestnut_Slideshow_Model</class>
                <resourceModel>slideshow_mysql4</resourceModel>
            </slideshow>
            <slideshow_mysql4>
                <class>Chestnut_Slideshow_Model_Mysql4</class>
                <entities>
                    <slideshow>
                        <table>slideshow</table>
                    </slideshow>
                </entities>
            </slideshow_mysql4>
        </models>
        <resources>
            <slideshow_setup>
                <setup>
                    <module>Chestnut_Slideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slideshow_setup>
            <slideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slideshow_write>
            <slideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slideshow_read>
        </resources>
        <blocks>
            <slideshow>
                <class>Chestnut_Slideshow_Block</class>
            </slideshow>
        </blocks>
        <helpers>
            <slideshow>
                <class>Chestnut_Slideshow_Helper</class>
            </slideshow>
        </helpers>
    </global>
	<default>
		<slideshow>
			<general>
                <enable>1</enable>
                <effect>fade</effect>
                <timeout>10000</timeout>
                <speed>600</speed>
                <smooth_height>1</smooth_height>
                <pause>1</pause>
                <loop>1</loop>
            </general>
            <home>
                <blocks>block_slide1,block_slide2,block_slide3</blocks>
                <width>viewport</width>
            </home>
		</slideshow>
	</default>
</config>