<?xml version="1.0"?>
<config>
	<modules>
		<Chestnut_Avatar>
			<version>1.0.1</version>
		</Chestnut_Avatar>
	</modules>
	<frontend>
	    <routers>
            <chestnut_avatar>
                <use>standard</use>
                <args>
                    <module>Chestnut_Avatar</module>
                    <frontName>avatar</frontName>
                </args>
            </chestnut_avatar>
        </routers>
		<translate>
			<modules>
				<Chestnut_Avatar>
					<files>
						<default>Chestnut_Avatar.csv</default>
					</files>
				</Chestnut_Avatar>
			</modules>
		</translate>
		<layout>
			<updates>
				<chestnut_avatar>
					<file>chestnut_avatar.xml</file>
				</chestnut_avatar>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<chestnut_avatar>
					<file>chestnut_avatar.xml</file>
				</chestnut_avatar>
			</updates>
		</layout>
		<translate>
			<modules>
				<Chestnut_Avatar>
					<files>
						<default>Chestnut_Avatar.csv</default>
					</files>
				</Chestnut_Avatar>
			</modules>
		</translate>
		<events>
			<eav_collection_abstract_load_before>
				<observers>
					<chestnut_avatar_eav_before>
						<class>Chestnut_Avatar_Model_Adminhtml_Observer</class>
						<method>customerEavLoadBefore</method>
					</chestnut_avatar_eav_before>
				</observers>
			</eav_collection_abstract_load_before>
			<adminhtml_block_html_before>
				<observers>
					<chestnut_avatar_block_before>
						<class>Chestnut_Avatar_Model_Adminhtml_Observer</class>
						<method>customerBlockHtmlBefore</method>
					</chestnut_avatar_block_before>
				</observers>
			</adminhtml_block_html_before>
			<adminhtml_customer_prepare_save>
				<observers>
					<chestnut_avatar_save_before>
						<class>Chestnut_Avatar_Model_Adminhtml_Observer</class>
						<method>customerPrepareSave</method>
					</chestnut_avatar_save_before>
				</observers>
			</adminhtml_customer_prepare_save>
		</events>
	</adminhtml>
	<global>
		<fieldsets>
			<customer_account>
				<avatar_valid>
					<create>1</create>
					<update>1</update>
				</avatar_valid>
				<avatar_src>
					<create>1</create>
					<update>1</update>
				</avatar_src>
			</customer_account>
		</fieldsets>
		<models>
			<chestnut_avatar>
				<class>Chestnut_Avatar_Model</class>
			</chestnut_avatar>
		</models>
		<resources>
			<chestnut_avatar_setup>
				<setup>
					<module>Chestnut_Avatar</module>
					<class>Chestnut_Avatar_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</chestnut_avatar_setup>
		</resources>
		<blocks>
			<chestnut_avatar>
				<class>Chestnut_Avatar_Block</class>
			</chestnut_avatar>
		</blocks>
		<helpers>
			<chestnut_avatar>
				<class>Chestnut_Avatar_Helper</class>
			</chestnut_avatar>
		</helpers>
		<events>
			<customer_save_before>
				<observers>
					<chestnut_avatar_save_before>
						<type>singleton</type>
						<class>Chestnut_Avatar_Model_Observer</class>
						<method>customerSaveBefore</method>
					</chestnut_avatar_save_before>
				</observers>
			</customer_save_before>
		</events>
		<template>
            <email>
                <customer_create_account_email_template translate="label" module="customer">
                    <label>New account</label>
                    <file>chestnut/avatar/account_new.html</file>
                    <type>html</type>
                </customer_create_account_email_template>
            </email>
        </template>
	</global>

	<default>
		<chestnut_avatar>
			<general>
				<enabled>1</enabled>
			</general>
		</chestnut_avatar>
	</default>
</config>