<?xml version="1.0"?>
<config>
    <sections>
        <chestnut_brands translate="label">
			<label>Brands</label>
			<tab>chestnut</tab>
			<frontend_type>text</frontend_type>
			<sort_order>300</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
            <groups>
				<general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
							<label>Enable Module</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</enable>
						<attr_id translate="label">
                            <label>Brand Attribute Code</label>
							<comment><![CDATA[Identifier of the attribute which contains the information about brands in your store. Search for that code in <em>Catalog > Attributes > Manage Attributes</em>.]]></comment>
                            <frontend_type>text</frontend_type>
							<validate>validate-code</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </attr_id>
						<image_extension translate="label">
                            <label>Brand Image File Extension</label>
							<comment>Without the leading dot. Brand Images must be stored in media/wysiwyg/chestnut/brands</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_extension>
					</fields>
				</general>
                <slider translate="label">
                    <label>Brand Slider (Home Page)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_slider_home translate="label">
                            <label>Enable Brands Slider</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_slider_home>
                        <all translate="label">
                            <label>Show All Brands</label>
                            <comment>If set to no, then only brands in using will be shown.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </all>
                    </fields>
                </slider>
            </groups>
        </chestnut_brands>
    </sections>
</config>