<?xml version="1.0"?>
<config>
    <websites>
        <!-- <admin>
            <dev>
                <debug>
                    <template_hints>1</template_hints>
                    <template_hints_blocks>1</template_hints_blocks>
                </debug>
            </dev>
        </admin> -->
        <!-- <base>
            <dev>
                <debug>
                    <template_hints>1</template_hints>
                    <template_hints_blocks>1</template_hints_blocks>
                </debug>
            </dev>
        </base> -->
    </websites>
    <modules>
        <Chestnut_Blog>
            <version>1.0.1</version>
        </Chestnut_Blog>
    </modules>
    <admin>
        <routers>
            <blog>
                <use>admin</use>
                <args>
                    <module>Chestnut_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
    </admin>
    <frontend>
        <routers>
            <blog>
                <use>chestnut_blog</use>
                <args>
                    <module>Chestnut_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog module="Chestnut_Blog">
                    <file>chestnut_blog.xml</file>
                </blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Chestnut_Blog>
                    <files>
                        <default>Chestnut_Blog.csv</default>
                    </files>
                </Chestnut_Blog>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Chestnut_Blog>
                    <files>
                        <default>Chestnut_Blog.csv</default>
                    </files>
                </Chestnut_Blog>
            </modules>
        </translate>
        
        <layout>
            <updates>
                <blog module="Chestnut_Blog">
                    <file>chestnut/blog.xml</file>
                </blog>
            </updates>
        </layout>
    </adminhtml>

    <global>
        <models>
            <blog>
                <class>Chestnut_Blog_Model</class>
                <resourceModel>blog_mysql4</resourceModel>
            </blog>
            <blog_mysql4>
                <class>Chestnut_Blog_Model_Mysql4</class>
                <entities>
                    <blog>
                        <table>chestnut_blog</table>
                    </blog>
                    <post>
                        <table>chestnut_blog</table>
                    </post>
                    <comment>
                        <table>chestnut_blog_comment</table>
                    </comment>
                    <category>
                        <table>chestnut_blog_cat</table>
                    </category>
                    <post_cat>
                        <table>chestnut_blog_post_cat</table>
                    </post_cat>
                    <store>
                        <table>chestnut_blog_store</table>
                    </store>
                    <cat_store>
                        <table>chestnut_blog_cat_store</table>
                    </cat_store>
                    <cat_parent>
                        <table>chestnut_blog_cat_parent</table>
                    </cat_parent>
                    <tag>
                        <table>chestnut_blog_tags</table>
                    </tag>
                </entities>
            </blog_mysql4>
            <sitemap>
                <rewrite>
                    <sitemap>Chestnut_Blog_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <blocks>
            <blog>
                <class>Chestnut_Blog_Block</class>
            </blog>
            <rss>
                <rewrite/>
                <drewrite>
                    <list>Chestnut_Blog_Block_Rss_List</list>
                </drewrite>
            </rss>
        </blocks>
        <resources>
            <blog_setup>
                <setup>
                    <module>Chestnut_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
        <helpers>
            <blog>
                <class>Chestnut_Blog_Helper</class>
            </blog>
        </helpers>
        <index>
            <indexer>
                <blog_url>
                    <model>blog/indexer_url</model>
                </blog_url>
            </indexer>
        </index>
        <events>
            <controller_action_predispatch>
                <observers>
                    <blog>
                        <type>singleton</type>
                        <class>blog/observer</class>
                        <method>rewriteRssList</method>
                    </blog>
                </observers>
            </controller_action_predispatch>
            <sitemap_add_xml_block_to_the_end>
                <observers>
                    <add_blog_section>
                        <type>singleton</type>
                        <class>blog/observer</class>
                        <method>addBlogSection</method>
                    </add_blog_section>
                </observers>
            </sitemap_add_xml_block_to_the_end>
        </events> 
        <template>
            <email>
                <blog_comments_email_template translate="label" module="blog">
                    <label>Comment Submitted</label>
                    <file>chestnut/blog/comment_submitted.html</file>
                    <type>text</type>
                </blog_comments_email_template>
            </email>
        </template>
    </global>

    <default>
        <sitemap>
            <blog>
                <changefreq>weekly</changefreq>
                <priority>0.5</priority>
            </blog>
        </sitemap>
        <blog>
            <blog>
                <enabled>1</enabled>
                <title>Blog</title>
                <blogcrumbs>1</blogcrumbs>
                <dateformat>F d, Y</dateformat>
                <layout>page/2columns-right.phtml</layout>
                <useshortcontent>1</useshortcontent>
                <parse_cms>1</parse_cms>
                <perpage>10</perpage>
                <bookmarks>1</bookmarks>
                <sorter>DESC</sorter>
            </blog>
            <menu>
                <right>2</right>
                <footer>1</footer>
                <category>1</category>
                <tagcloud_size>10</tagcloud_size>
                <recent>6</recent>
                <comments>6</comments>
            </menu>
            <flickr>
                <chestnut_flickrphotos_enabled>1</chestnut_flickrphotos_enabled>
                <chestnut_flickrphotos_apikey>1f9514c81fa5a59b615e248d7857ce40</chestnut_flickrphotos_apikey>
                <chestnut_flickrphotos_photosetid>72157648621163869</chestnut_flickrphotos_photosetid>
                <chestnut_flickrphotos_count>8</chestnut_flickrphotos_count>
            </flickr>
            <comments>
                <enabled>1</enabled>
                <login>1</login>
                <dateformat>m.d.Y</dateformat>
                <page_count>5</page_count>
            </comments>
        </blog>
    </default>
</config>
