<?xml version="1.0"?>
<config>
    <modules>
        <Chestnut_Menu>
            <version>1.0.1</version>
        </Chestnut_Menu>
    </modules>

    <frontend>
        <layout>
            <updates>
                <egmenu>
                    <file>chestnut_menu.xml</file>
                </egmenu>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <egmenu>
                <class>Chestnut_Menu_Block</class>
            </egmenu>
            <!-- <adminhtml>
                <rewrite>
                    <catalog_category_tabs>Chestnut_Menu_Block_Adminhtml_Category_Tabs</catalog_category_tabs>
                </rewrite>
            </adminhtml> -->
        </blocks>
        <helpers>
            <egmenu>
                <class>Chestnut_Menu_Helper</class>
            </egmenu>
        </helpers>
        <models>
            <egmenu>
                <class>Chestnut_Menu_Model</class>
                <resourceModel>egmenu_mysql4</resourceModel>
            </egmenu>
            <egmenu_mysql4>
                <class>Chestnut_Menu_Model_Mysql4</class>
                <entities>
                    <egmenu>
                        <table>eg_menu_blocks</table>
                    </egmenu>
                </entities>
            </egmenu_mysql4>
        </models>
        <resources>
            <egmenu_setup>
                <setup>
                    <module>Chestnut_Menu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </egmenu_setup>
            <egmenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </egmenu_write>
            <egmenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </egmenu_read>
        </resources>
        <events>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <egmenu>
                        <type>singleton</type>
                        <class>egmenu/observer</class>
                        <method>categoryEdit</method>
                    </egmenu>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_category_prepare_save>
                <observers>
                    <egmenu>
                        <type>singleton</type>
                        <class>egmenu/observer</class>
                        <method>categorySave</method>
                    </egmenu>
                </observers>
            </catalog_category_prepare_save>
        </events>
    </global>

    <default>
        <egmenu>
            <general>
                <enabled>1</enabled>
                <category_grouping>0</category_grouping>
                <group_label>Shop</group_label>
                <enable_mobile>1</enable_mobile>
                <mobile_title>NAVIGATION</mobile_title>
                <show_home_link>0</show_home_link>
                <maximal_depth>3</maximal_depth>
            </general>
            <menu_content>
                <columns_count>3</columns_count>
                <delay_displaying>150</delay_displaying>
                <fadein_duration>1000</fadein_duration>
                <delay_hiding>100</delay_hiding>
                <fadeout_duration>1000</fadeout_duration>
            </menu_content>
            <category_labels>
                <label1>New</label1>
                <label2>Hot!</label2>
            </category_labels>
        </egmenu>
    </default>
</config>
