<?xml version="1.0"?>
<config>
    <modules>
        <Chestnut_Ajaxcart>
            <version>1.0.1</version>
        </Chestnut_Ajaxcart>
    </modules>
    <frontend>
        <routers>
            <chestnut_ajaxcart>
                <use>standard</use>
                <args>
                    <module>Chestnut_Ajaxcart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </chestnut_ajaxcart>
        </routers>
        <layout>
            <updates>
                <chestnut_ajaxcart>
                    <file>chestnut_ajaxcart.xml</file>
                </chestnut_ajaxcart>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <chestnut_ajaxcart>
                <class>Chestnut_Ajaxcart_Model</class>
                <resourceModel>chestnut_ajaxcart_mysql4</resourceModel>
            </chestnut_ajaxcart>
            <chestnut_ajaxcart_mysql4>
                <class>Chestnut_Ajaxcart_Model_Mysql4</class>
                <entities>
                    <chestnut_ajaxcart>
                        <table>chestnut_ajaxcart</table>
                    </chestnut_ajaxcart>
                </entities>
            </chestnut_ajaxcart_mysql4>
        </models>
        <resources>
            <chestnut_ajaxcart_setup>
                <setup>
                    <module>Chestnut_Ajaxcart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </chestnut_ajaxcart_setup>
            <chestnut_ajaxcart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </chestnut_ajaxcart_write>
            <chestnut_ajaxcart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </chestnut_ajaxcart_read>
        </resources>
        <blocks>
        	<checkout>
        		<rewrite>
        			<cart_sidebar>Chestnut_Ajaxcart_Block_Ajaxcart_Sidebar</cart_sidebar>
        		</rewrite>
        	</checkout>
            <chestnut_ajaxcart>
                <class>Chestnut_Ajaxcart_Block</class>
            </chestnut_ajaxcart>
        </blocks>
        <helpers>
            <chestnut_ajaxcart>
                <class>Chestnut_Ajaxcart_Helper</class>
            </chestnut_ajaxcart>
        </helpers>
    </global>
    <default>
        <chestnut_ajaxcart>
            <general>
                <enable>1</enable>
            </general>
        </chestnut_ajaxcart>
    </default>
</config>