<?xml version="1.0"?>
<config>
    <modules>
        <Chestnut_Cloudzoom>
            <version>1.0.1</version>
        </Chestnut_Cloudzoom>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view_media>Chestnut_Cloudzoom_Block_Product_View_Media</product_view_media>
                </rewrite>
            </catalog>
            <chestnut_cloudzoom>
                <class>Chestnut_Cloudzoom_Block</class>
            </chestnut_cloudzoom>
        </blocks>
        <models>
            <chestnut_cloudzoom>
                <class>Chestnut_Cloudzoom_Model</class>
            </chestnut_cloudzoom>
        </models>
        <helpers>
            <chestnut_cloudzoom>
                <class>Chestnut_Cloudzoom_Helper</class>
            </chestnut_cloudzoom>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <chestnut_cloudzoom>
                    <file>chestnut_cloudzoom.xml</file>
                </chestnut_cloudzoom>
            </updates>
        </layout>
    </frontend>

    <default>
        <chestnut_cloudzoom>
            <general>
                <enable>1</enable>
            </general>
            <zoom_image>
                <zoom_width>300</zoom_width>
                <zoom_height>300</zoom_height>
                <zoom_type>window</zoom_type>
                <position>1</position>
                <tint>0</tint>
                <tint_color>#444</tint_color>
                <tint_opacity>0.4</tint_opacity>
                <easing>1</easing>
            </zoom_image>
        </chestnut_cloudzoom>
    </default>
</config>