<?xml version="1.0"?>
<!--
/**
 * @category	Chestnut
 * @package	Chestnut_Fengo
 * @author	Chestnut
 * @copyright	Copyright 2015 Chestnut
 */
-->
<config>
    <modules>
        <Chestnut_Fengo>
            <version>1.1.0</version>
        </Chestnut_Fengo>
    </modules>
    <admin>
        <routers>
            <fengo>
                <use>admin</use>
                <args>
                    <module>Chestnut_Fengo</module>
                    <frontName>fengo</frontName>
                </args>
            </fengo>
        </routers>
    </admin>
    <global>
        <blocks>
            <fengo>
                <class>Chestnut_Fengo_Block</class>
            </fengo>
        </blocks>
        <helpers>
            <fengo>
                <class>Chestnut_Fengo_Helper</class>
            </fengo>
        </helpers>
        <models>
            <fengo>
                <class>Chestnut_Fengo_Model</class>
            </fengo>
        </models>
        <resources>
            <fengo_setup>
                <setup>
                    <module>Chestnut_Fengo</module>
                    <class>Chestnut_Fengo_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fengo_setup>
            <fengo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fengo_write>
            <fengo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fengo_read>
        </resources>
    </global>
    <adminhtml>
        <events>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <fengo>
                        <type>singleton</type>
                        <class>fengo/observer</class>
                        <method>controllerActionPostdispatchAdminhtmlSystemConfigSave</method>
                    </fengo>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
            <store_edit>
                <observers>
                    <fengo>
                        <type>singleton</type>
                        <class>fengo/observer</class>
                        <method>storeEdit</method>
                    </fengo>
                </observers>
            </store_edit>
        </events>
        <layout>
            <updates>
                <fengo>
                    <file>chestnut/fengo.xml</file>
                </fengo>
            </updates>
        </layout>
    </adminhtml>    
    <frontend>
        <routers>
            <fengo>
                <use>standard</use>
                <args>
                    <module>Chestnut_Fengo</module>
                    <frontName>fengo</frontName>
                </args>
            </fengo>
        </routers>
    </frontend>
    <default>
        <fengo_setting>
            <general>
                <loading_show_home>1</loading_show_home>
            </general>
            <header>
                <header_style>type1</header_style>
                <top_links>1</top_links>
            </header>
            <category_view>
                <hover_image>1</hover_image>
                <hover_image_colname>position</hover_image_colname>
                <hover_image_colvalue>2</hover_image_colvalue>
                <new>1</new>
                <out_of_stock>1</out_of_stock>
                <discount>1</discount>
                <column_count>3</column_count>
                <left_compare>1</left_compare>
                <left_cart>1</left_cart>
                <left_tags>1</left_tags>
                <left_nav>1</left_nav>
                <left_wishlist>1</left_wishlist>
                <right_compare>1</right_compare>
                <right_compared>1</right_compared>
                <right_viewed>1</right_viewed>
                <right_cart>1</right_cart>
                <right_poll>1</right_poll>
                <right_reorder>1</right_reorder>
                <right_paypal>1</right_paypal>
                <right_wishlist>1</right_wishlist>
            </category_view>
            <product_page>
                <sku>1</sku>
                <description>1</description>
                <description_title>Details</description_title>
                <short_description>1</short_description>
                <short_desc_title>Description</short_desc_title>
                <attribute>1</attribute>
                <attribute_title>Additional Information</attribute_title>
                <reviews>1</reviews>
                <reviews_title>Reviews</reviews_title>
                <upsell>1</upsell>
                <upsell_title>We Also Recommend</upsell_title>
                <tags>1</tags>
                <tags_title>Product Tags</tags_title>
            </product_page>
            <quick_view>
                <enable>1</enable>
                <qv_width>1000</qv_width>
                <qv_height>750</qv_height>
            </quick_view>
            <sidebar_blocks>
                <block_left_top>0</block_left_top>
                <block_left_bottom>0</block_left_bottom>
                <block_right_top>0</block_right_top>
                <block_right_bottom>0</block_right_bottom>
            </sidebar_blocks>
            <contactus>
                <gmap_enable>1</gmap_enable>
                <gmap_address>United Kingdom Greater London London 02587 Oxford Street 48/188</gmap_address>
                <gmap_maker>icon_gmap.png</gmap_maker>
                <phone>0203 980 1479</phone>
                <phone_two>0203 478 1296</phone_two>
                <mobile>445-115-747-38</mobile>
                <mobile_two>445-170-029-32</mobile_two>
                <mail>Fengo_shop@gmail.com</mail>
                <mail_two>Fengo@hotmail.com</mail_two>
                <skype>Fengo_shop_contact</skype>
                <skype_two>Fengo_support</skype_two>
            </contactus>
            <snippets>
                <enabled>0</enabled>
                <product_image>1</product_image>
                <product_description>1</product_description>
                <product_ratings>1</product_ratings>
                <product_price>1</product_price>
                <product_availability>1</product_availability>
                <product_sku>1</product_sku>
            </snippets>
            <twitterfeed>
                <twitterfeed_enable>1</twitterfeed_enable>
                <twitter_widgetkey>512600277266882560</twitter_widgetkey>
                <twitter_show_counts>2</twitter_show_counts>
            </twitterfeed>
            <facebook>
                <enable>1</enable>
                <page_url>https://www.facebook.com/facebook</page_url>
                <show_posts>0</show_posts>
                <small_header>0</small_header>
                <hide_cover>0</hide_cover>
                <show_facepile>1</show_facepile>
            </facebook>
            <customization>
                <custom_css>0</custom_css>
            </customization>			
            <install>
                <overwrite_blocks>1</overwrite_blocks>
                <overwrite_pages>1</overwrite_pages>
            </install>
            <footer>
                <footer_style>type1</footer_style>
                <show_footer_top>1</show_footer_top>
                <footer_links>1</footer_links>
                <newsletter>1</newsletter>
                <store_switcher>1</store_switcher>
            </footer>
        </fengo_setting>
        <fengo_design>
            <font>
                <primary_font_size>14px</primary_font_size>
                <primary_font_family_group>custom</primary_font_family_group>
                <primary_font_family_custom>Arial, sans-serif</primary_font_family_custom>
            </font>
        </fengo_design>
        <theme_activate>
            <activate_demos>
                <demo_style>type1</demo_style>
            </activate_demos>
        </theme_activate>
    </default>
</config>